﻿<div class="modal fade" id="EditarPost" tabindex="2" data-focus-on="input:first" style="overflow-y: initial !important">
    <div class="modal-dialog modal-lg" style="max-width: 85%">
        <div class="modal-content">
            <div class="modal-header ">
                <h4 class="modal-title">Editar Post</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <!--<p><label id="mensajeValidacion"></label></p>-->
                @using (Html.BeginForm("EditarPost", "Intranet", FormMethod.Post, new { id = "FormularioEditarPost", target = "_self", enctype = "multipart/form-data" }))
                {
                    <input type="hidden" name="idPostEditar" id="idPostEditar" />
                    <input type="hidden" name="IdsArchivosBorrar" id="IdsArchivosBorrar" />
                    <!--<input type="hidden" name="CantidadArchivosCargadosAnterior" id="CantidadArchivosCargadosAnterior" />-->
                    <div class="form-group">
                        <div class="card-body">
                            <div id="clonedInput1" class="clonedInput">
                                <table class="table">
                                    <tr>
                                        <td colspan="2">
                                            <h3 class="m-b-0 text">Comentarios</h3>
                                            <textarea class="click2edit" id="summernote_edit" name="summernote_edit">Escriba aquí.</textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <h4 class="card-title">Imagenes Subidas</h4>
                                            La Imagen marcada en azul actua de portada para los Post.
                                            <div class="card-body">
                                                <div class="row">
                                                    <!--<div class="col-md-8 offset-2" id="ImagenesSubidas" name="ImagenesSubidas"></div>-->
                                                    <div class="col-md-12" id="ImagenesSubidas" name="ImagenesSubidas"></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <h4 class="card-title">Subir Imagenes</h4>
                                            La primera imagen se utilizara como portada del post <a style="color: #1976d2" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="<img src='@System.Web.Configuration.WebConfigurationManager.AppSettings[System.Web.Configuration.WebConfigurationManager.AppSettings["TipoAmbiente"].ToString() + "RutaArchivosImageneTooltip"].ToString()' style='width: 400%' />">Ejemplo</a>
                                            <div class="file-loading">
                                                <input id="input_file_edit" name="input_file[]" type="file" multiple>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <strong>URL Referencia</strong>

                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text" id="basic-addon3">https://example.com/example/</span>
                                                </div>
                                                <input type="text" class="form-control" id="basic_url_edit" name="basic_url" aria-describedby="basic-addon3">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-3">
                            <button id="btnEditar" name="btnEditar" type="submit" class="btn waves-effect waves-light btn-secondary">
                                <span class="mdi-account-search1"></span>
                                Editar Post
                            </button>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>