﻿<div class="modal fade" id="Login" tabindex="2" data-focus-on="input:first">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header ">
                <h4 class="modal-title">Login</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Acceso", "Intranet", FormMethod.Post))
                {
                    <div class="form-group ">
                        <div class="col-xs-12 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3"><i class="mdi mdi-account"></i></span>
                            </div>
                            <input id="login-username" class="form-control" name="username" type="text" placeholder="Nombre de usuario" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3"><i class="mdi mdi-account-key"></i></span>
                            </div>
                            <input id="login-password" class="form-control" name="password" type="password" placeholder="Contraseña" required>
                        </div>
                    </div>

                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-block text-uppercase waves-effect waves-light" type="submit">Acceder</button>
                        </div>
                    </div>
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>