﻿@model PrimusCapital.News.Data.Modelos.ErrorViewModel
@{
    ViewBag.Title = "NoClasificado";
    Layout = null;
}
<div id="main-wrapper">
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-light">
            <div class="container-fluid">
                <div>
                    <br />
                    <img src="~/Content/tema/img/Otro/logo-primus-header-white.png" width="280px" height="50px" class="navbar-brand" style="padding-top: 0; padding-bottom: 0;">
                </div>
            </div>
        </nav>
    </header>
</div>
<br /><br /><br />
<div class="col-md-12">
    <div class="card-body">
        @if (Model.CodigoError == 0)
        {
            <h2>
                Ha ocurrido un error no clasificado en la aplicación<br />
            </h2>
        }
        else
        {
            <h2>
                Ha ocurrido un error en la aplicación
            </h2>

            <div class="row">
                <div class="col-xs-6">
                    <table class="table table-hover">
                        <tr>
                            <th>Código de error</th>
                            <td>@Model.CodigoError</td>
                        </tr>
                        <tr>
                            <th>Descripción de error</th>
                            <td>@Model.DescripcionError</td>
                        </tr>
                    </table>
                </div>
            </div>

            <h2>
                <small>Por favor intentelo mas tarde; si el problema persiste notificar al <a href="mailto: soporte@PrimusCapital.cl">administrador.</a></small>
            </h2>
        }
    </div>
</div>