﻿@model PrimusCapital.News.Data.Modelos.IntranetCompletoNewsModel
@{
    ViewBag.Title = "Inicio";
}
<div class="row">
    <!--Izquierda-->
    <div class="col-md-2 col-sm">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white">Informacion</h4>
            </div>
        </div>
        <div>
            <div class="card card-body">
                <a href="http://www.footballuser.com/post" target="_blank">
                    <div style="display:table-cell; vertical-align:middle; text-align:left; line-height: normal">
                        <div class="fas fa-futbol fa-2x"></div>&nbsp;<small>Convocatorias Futboleras</small>
                    </div>
                </a>
                <br />
                <a href="https://primuscapital.almasuite.com/groups/view/1072">
                    <div style="display:table-cell; vertical-align:middle; text-align:left; line-height: normal">
                        <div class="fas fa-globe-americas fa-2x"></div>&nbsp;<small>Comunicaciones exclusivas</small>
                    </div>
                </a>
                <br />
                <!--<a href="@Url.Action("Contactos")">-->
                <a href="http://172.16.0.202/anexo/telfono.asp" target="_blank">
                    <div style="display:table-cell; vertical-align:middle; text-align:left; line-height: normal">
                        <div class="fas fa-users fa-2x"></div>&nbsp;<small> Personas</small>
                    </div>
                </a>
            </div>
            <div class="ribbon-wrapper card">
                <div class="ribbon ribbon-bookmark ribbon-info">Links</div>
                <p class="ribbon-content">
                    <div class="mdi mdi-link-variant">
                        <a href="http://dc02primus1/PortalRRHH/login.aspx" target="_blank">
                            <small>Autoconsulta RRHH</small>
                        </a>
                    </div>
                    <div class="mdi mdi-link-variant">
                        <a href="http://www.cajalosandes.cl/convenios/" target="_blank">
                            <small>Caja Los Andes</small>
                        </a>
                    </div>
                    <div class="mdi mdi-link-variant">
                        <a href="http://www.clinicasantablanca.cl" target="_blank">
                            <small>Clínica Santa Blanca</small>
                        </a>
                    </div>
                    <div class="mdi mdi-link-variant">
                        <a href="http://www.entel.cl/empresas/index.iws" target="_blank">
                            <small>Entel Empresas</small>
                        </a>
                    </div>
                    <div class="mdi mdi-link-variant">
                        <a href="http://www.metlife.cl/publico/index.htm" target="_blank">
                            <small>Metlife</small>
                        </a>
                    </div>
                    <div class="mdi mdi-link-variant">
                        <a href="http://www.primuscapital.cl" target="_blank">
                            <small>Primus Capital SpA</small>
                        </a>
                    </div>
                </p>
            </div>
            <div class="ribbon-wrapper card">
                <div class="ribbon ribbon-bookmark ribbon-info">Documentos</div>
                <p class="ribbon-content">
                    <a href="https://www.primuscapital.cl/img/pdf/Cesion-de-Creditos-santiago.pdf" target="_blank">
                        <div style="display:table-cell; vertical-align:middle; text-align:left; line-height: normal">
                            <div class="far fa-file-pdf fa-2x"></div>&nbsp;<small>Cesión de Crédito Santiago</small>
                        </div>
                    </a>
                    <a href="https://www.primuscapital.cl/img/pdf/Cesion-de-Creditos-antofagasta.pdf" target="_blank">
                        <div style="display:table-cell; vertical-align:middle; text-align:left; line-height: normal">
                            <div class="far fa-file-pdf fa-2x"></div>&nbsp;<small>Cesión de Crédito Antofagasta</small>
                        </div>
                    </a>
                    <a href="https://www.primuscapital.cl/img/pdf/Cesion-de-Creditos-concepcion.pdf" target="_blank">
                        <div style="display:table-cell; vertical-align:middle; text-align:left; line-height: normal">
                            <div class="far fa-file-pdf fa-2x"></div>&nbsp;<small>Cesión de Crédito Concepción</small>
                        </div>
                    </a>
                    <a href="https://www.primuscapital.cl/img/pdf/Cesion-de-Creditos-vina.pdf" target="_blank">
                        <div style="display:table-cell; vertical-align:middle; text-align:left; line-height: normal">
                            <div class="far fa-file-pdf fa-2x"></div>&nbsp;<small>Cesión de Crédito Viña del Mar</small>
                        </div>
                    </a>
                    <a href="https://www.primuscapital.cl/img/pdf/Carta-Guia-Primus.pdf" target="_blank">
                        <div style="display:table-cell; vertical-align:middle; text-align:left; line-height: normal">
                            <div class="far fa-file-pdf fa-2x"></div>&nbsp;<small>CartaGuia Primus</small>
                        </div>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <!--Centro-->
    <div class="col-md-8">
        <div class="container body-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <div class="col-md-12 text-md-center">
                            <img src="~/Content/tema/img/Otro/work-for-us-banner-01.jpg" style="width: 100%; height: 150px" />
                        </div>
                        <br />
                        @if (Model != null)
                        {
                            if (Model.Usuario != null)
                            {
                                if (Model.Usuario.Logueado == true && Model.Usuario.Roles.Contains("ADMIN"))
                                {
                                <div class="float-right">
                                    <a id="nuevoPost" name="nuevoPost" class="btn waves-effect waves-light btn-secondary" data-toggle="modal" href="#NuevoPost">
                                        <span class="mdi-account-search1"></span>
                                        Nuevo Post
                                    </a>
                                </div>
                                }
                            }
                        }
                        <div class="card-body">
                            <h4 class="m-b-0 text-blue">Novedades</h4>
                            <br />

                            <table id="myTable">
                                <thead>
                                    <tr>
                                        <th></th>
                                    </tr>
                                </thead>
	                            <tbody>

		                            @if (Model.Intranet.Any())
		                            {
			                            foreach (var datos in Model.Intranet)
			                            {
				                            if (datos.Posts.Any())
				                            {
					                            foreach (var datos0 in datos.Posts)
					                            {
						                            <tr>
							                            <td>
								                            <table class="table color-bordered-table info-bordered-table table-hover table-striped table-sm">
									                            <tr>
										                            <td style="width: 30%; text-align: center; vertical-align: top">
											                            @if (datos0.FotosRelacionadas.Any())
											                            {
												                            foreach (var datos1 in datos0.FotosRelacionadas)
												                            {
													                            if (datos1.ArchivoPortada)
													                            {
														                            <a href="~/Content/tema/img/ImagenesPost/@datos1.NombreArchivo" class="@("thumbnail" + datos.Id)">
															                            <img src="~/Content/tema/img/ImagenesPost/@datos1.NombreArchivo" alt="" class="img-fluid img-responsive radius" style="height: 200px">
														                            </a>
													                            }
													                            else
													                            {
														                            <a href="~/Content/tema/img/ImagenesPost/@datos1.NombreArchivo" class="@("thumbnail" + datos.Id)" style="display: none">
															                            <img src="~/Content/tema/img/ImagenesPost/@datos1.NombreArchivo" alt="" class="img-fluid img-responsive radius" style="height: 200px">
														                            </a>
													                            }
												                            }
											                            }
										                            </td>
										                            <td>
											                            <div class="col-12 col-md-12">
												                            <div style="position: absolute; bottom: 0; right: 0; width: 100px; text-align:right; color: #02a8fb; font-size: 13px; background-color: azure">
													                            @datos0.Fecha
												                            </div>
												                            <div class="containerMore" id="@("containerMore" + datos.Id)">
													                            @Html.Raw(datos0.Comentarios)
												                            </div>
												                            <div class="outside">
													                            <div class="inside row">
														                            @if (!string.IsNullOrEmpty(datos0.Url))
														                            {
															                            <div class="col-md-3">
																                            <a class=" btn btn-outline-primary" href="@datos0.Url">
																	                            <i class="fa fa-check"></i> Link Referencia
																                            </a>
															                            </div>
														                            }
														                            @if (Model != null)
														                            {
															                            if (Model.Usuario != null)
															                            {
																                            if (Model.Usuario.Logueado == true && Model.Usuario.Roles.Contains("ADMIN"))
																                            {
																	                            <div class="col-md-1">
																		                            <button type="button" class="btn waves-effect waves-light btn-outline-danger" data-target="#btnEliminarPost_@datos0.Id" id="btnEliminarPost_@datos0.Id" idposteliminar="@datos0.Id">
																			                            <i class="fas fa-trash-alt"></i>
																		                            </button>
																	                            </div>

																	                            <div class="col-md-1">
																		                            <button type="button" class="btn waves-effect waves-light btn-outline-info" data-target="#btnEditarPost_@datos0.Id" id="btnEditarPost_@datos0.Id" idposteditar="@datos0.Id">
																			                            <i class="far fa-edit fa-1x"></i>
																		                            </button>
																	                            </div>
																                            }
															                            }
														                            }
													                            </div>
												                            </div>
											                            </div>
										                            </td>
									                            </tr>
								                            </table>
								                            <br />
							                            </td>
						                            </tr>
					                            }
				                            }
			                            }
		                            }

	                            </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Derecha-->
    <div class="col-md-2">
        <div class="card card-outline-info">
            <div class="card-header">
                <h4 class="m-b-0 text-white text-center">
                    <span id="liveclock"></span>
                </h4>
            </div>
        </div>
        <div>
            <h3>Cumpleaños</h3>
            @if (Model != null)
            {
                if (Model.Anexos.Any())
                {
                    <div class="card">
                        <h5>Ayer</h5>
                        @if (Model.Anexos.Where(x => DateTime.Now.AddDays(-1).Day == x.fecha_nacimiento.Day && DateTime.Now.Month == x.fecha_nacimiento.Month).Count() <= 0)
                        {
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8 offset-2">
                                        <p class="card-text text-center">No hay</p>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            int contadroAyer = 0;
                            foreach (var datos in Model.Anexos)
                            {
                                if (DateTime.Now.AddDays(-1).Day == datos.fecha_nacimiento.Day && DateTime.Now.Month == datos.fecha_nacimiento.Month)
                                {
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-8 offset-2">
                                                <img class="card-img-top img-responsive" src="http://172.16.0.202/anexo/@datos.foto" alt="@datos.nombre">
                                                <p class="card-text text-center">@datos.nombre @datos.Apellido_P @datos.Apellido_M</p>
                                            </div>
                                        </div>
                                    </div>
                                    contadroAyer++;
                                }
                            }
                        }
                        <h5>Hoy</h5>
                        @if (Model.Anexos.Where(x => DateTime.Now.Day == x.fecha_nacimiento.Day && DateTime.Now.Month == x.fecha_nacimiento.Month).Count() <= 0)
                        {
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8 offset-2">
                                        <p class="card-text text-center">No hay</p>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            foreach (var datos in Model.Anexos)
                            {
                                if (DateTime.Now.Day == datos.fecha_nacimiento.Day && DateTime.Now.Month == datos.fecha_nacimiento.Month)
                                {
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-8 offset-2">
                                                <img class="card-img-top img-responsive" src="http://172.16.0.202/anexo/@datos.foto" alt="@datos.nombre">
                                                <p class="card-text text-center">@datos.nombre @datos.Apellido_P @datos.Apellido_M</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                        <h5>Mañana</h5>
                        @if (Model.Anexos.Where(x => DateTime.Now.AddDays(1).Day == x.fecha_nacimiento.Day && DateTime.Now.Month == x.fecha_nacimiento.Month).Count() <= 0)
                        {
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8 offset-2">
                                        <p class="card-text text-center">No hay</p>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            foreach (var datos in Model.Anexos)
                            {
                                if (DateTime.Now.AddDays(1).Day == datos.fecha_nacimiento.Day && DateTime.Now.Month == datos.fecha_nacimiento.Month)
                                {
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-8 offset-2">
                                                <img class="card-img-top img-responsive" src="http://172.16.0.202/anexo/@datos.foto" alt="@datos.nombre">
                                                <p class="card-text text-center">@datos.nombre @datos.Apellido_P @datos.Apellido_M</p>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        }
                    </div>
                }
            }
        </div>
    </div>
    
</div>

@Html.Partial("Partial/_Modals")
@Html.Partial("Partial/_NuevoPost")
@Html.Partial("Partial/_Login")
@Html.Partial("Partial/_EliminarPost")
@Html.Partial("Partial/_EditarPost")

<script type="text/javascript">
    /*Visualizador de fotos*/
    jQuery(document).ready(function () {
        @if (Model.Intranet.Any())
        {
            foreach (var datos in Model.Intranet)
            {
                <text>
                $(@Html.Raw("'.thumbnail" + datos.Id + "'")).viewbox();
                $('.thumbnail-2').viewbox({ fullscreenButton: true });

                (function () {
                    var vb = $('.popup-link').viewbox();
                    $('.popup-open-button').click(function () {
                        vb.trigger('viewbox.open');
                    });
                    $('.close-button').click(function () {
                        vb.trigger('viewbox.close');
                    });
                })();
                </text>
            }
        }

        /*Caja comentarios*/
        $('.summernote').summernote({
            toolbar: [
                // [groupName, [list of button]]
                ['style', ['bold', 'italic', 'underline', 'clear']],
                ['font', ['strikethrough', 'superscript', 'subscript']],
                ['fontsize', ['fontsize']],
                ['color', ['color']],
                ['para', ['ul', 'ol', 'paragraph']],
                ['height', ['height']]
            ],
            height: 150, // set editor height
            minHeight: null, // set minimum height of editor
            maxHeight: null, // set maximum height of editor
            focus: false // set focus to editable area after initializing summernote
        });

        $('.inline-editor').summernote({
            airMode: true
        });

        /*Subir fotos*/
        var actionTemplate = '<div class="file-footer-buttons">\n' +
        '  \n' +
        '  <button type="button" class="kv-file-remove btn btn-sm btn-kv btn-default btn-outline-secondary" title="Eliminar archivo"><i class="fas fa-trash-alt"></i></button>\n' +
        '  <button type="button" class="kv-file-zoom btn btn-sm btn-kv btn-default btn-outline-secondary" title="Ver detalles"><i class="fas fa-search-plus"></i></button>\n' +
        '</div>';

        $('#input_file').fileinput({
            theme: 'fas',
            language: 'es',
            uploadUrl: '#',
            showUpload: false,
            //layoutTemplates: {footer: footerTemplate},
            layoutTemplates: { actions: actionTemplate },
            dragIcon: '<i class="glyphicon glyphicon-move"></i>',
            dragClass: 'text-info',
            dragTitle: 'Move / Rearrange',
            dragSettings: {},
            allowedFileExtensions: ['jpg', 'png', 'gif']
        });

        $('#input_file_edit').fileinput({
            theme: 'fas',
            language: 'es',
            uploadUrl: '#',
            showUpload: false,
            //layoutTemplates: {footer: footerTemplate},
            layoutTemplates: { actions: actionTemplate },
            dragIcon: '<i class="glyphicon glyphicon-move"></i>',
            dragClass: 'text-info',
            dragTitle: 'Move / Rearrange',
            dragSettings: {},
            allowedFileExtensions: ['jpg', 'jpeg', 'png', 'gif']
        });

        /*Boton validador agregar*/
        $('#btnAgregar').click(function (event) {
            /*if ($('#summernote').val().trim() == '') {
                document.getElementById('mensajeValidacion').innerHTML = 'Escriba comentarios para el Post.';
                //$('#alerta').modal('toggle');
                $('#alerta').modal({ show: true })
                event.preventDefault();
            } else if ($('#input_file').val().trim() == '') {
                document.getElementById('mensajeValidacion').innerHTML = 'Agregue una foto al menos para el Post.';
                //$('#alerta').modal('toggle');
                $('#alerta').modal({ show: true })
                event.preventDefault();
            } else if ($('#basic_url').val().trim() == '') {
                document.getElementById('mensajeValidacion').innerHTML = 'Agregue una URL para el Post.';
                //$('#alerta').modal('toggle');
                $('#alerta').modal({ show: true })
                event.preventDefault();
            } else if (!isUrlValid($('#basic_url').val().trim())) {
                document.getElementById('mensajeValidacion').innerHTML = 'URL invalida.';
                //$('#alerta').modal('toggle');
                $('#alerta').modal({ show: true })
                event.preventDefault();
            } else {
                $("#FormularioNuevoPost").submit();
            }*/

            var allowedFileExtensions = ['image/jpg', 'image/jpeg', 'image/png', 'image/gif'];
            var inputFile = $('#input_file');
            
            if ($('#summernote').val().trim() == '') {
                document.getElementById('mensajeValidacion').innerHTML = 'Escriba comentarios para el Post.';
                //$('#alerta').modal('toggle');
                $('#alerta').modal({ show: true })
                event.preventDefault();
            } else if ($('#input_file').val().trim() == '') {
                document.getElementById('mensajeValidacion').innerHTML = 'Agregue una foto al menos para el Post.';
                //$('#alerta').modal('toggle');
                $('#alerta').modal({ show: true })
                event.preventDefault();
            } else if ($('#basic_url').val().trim() != '') {
                if (!isUrlValid($('#basic_url').val().trim())) {
                    document.getElementById('mensajeValidacion').innerHTML = 'URL invalida.';
                    //$('#alerta').modal('toggle');
                    $('#alerta').modal({ show: true })
                    event.preventDefault();
                }
            } else if (inputFile != null) {
                var files = inputFile[0].files;

                for (var i = 0, f; f = files[i]; i++) {
                    if (allowedFileExtensions.indexOf(files[i].type) === -1) {

                        document.getElementById('mensajeValidacion').innerHTML = 'Archivo invalido, archivos permitidos jpg, jpeg, png, gif';
                        //$('#alerta').modal('toggle');
                        $('#alerta').modal({ show: true })
                        event.preventDefault();
                        break;
                    }
                }
            } else {
                $("#FormularioNuevoPost").submit();
            }
        });

        /*Boton validador agregar*/
        $('#btnEditar').click(function (event) {
            /*if ($('#summernote').val().trim() == '') {
                document.getElementById('mensajeValidacion').innerHTML = 'Escriba comentarios para el Post.';
                //$('#alerta').modal('toggle');
                $('#alerta').modal({ show: true })
                event.preventDefault();
            } else if ($('#input_file').val().trim() == '') {
                document.getElementById('mensajeValidacion').innerHTML = 'Agregue una foto al menos para el Post.';
                //$('#alerta').modal('toggle');
                $('#alerta').modal({ show: true })
                event.preventDefault();
            } else if ($('#basic_url').val().trim() == '') {
                document.getElementById('mensajeValidacion').innerHTML = 'Agregue una URL para el Post.';
                //$('#alerta').modal('toggle');
                $('#alerta').modal({ show: true })
                event.preventDefault();
            } else if (!isUrlValid($('#basic_url').val().trim())) {
                document.getElementById('mensajeValidacion').innerHTML = 'URL invalida.';
                //$('#alerta').modal('toggle');
                $('#alerta').modal({ show: true })
                event.preventDefault();
            } else {
                $("#FormularioNuevoPost").submit();
            }*/

            var allowedFileExtensions = ['image/jpg', 'image/jpeg', 'image/png', 'image/gif'];
            var inputFile = $('#input_file_edit');

            if ($('#summernote_edit').val().trim() == '') {
                document.getElementById('mensajeValidacion').innerHTML = 'Escriba comentarios para el Post.';
                //$('#alerta').modal('toggle');
                $('#alerta').modal({ show: true })
                event.preventDefault();
            } /*else if ($('#input_file_edit').val().trim() == '') {
                document.getElementById('mensajeValidacion').innerHTML = 'Agregue una foto al menos para el Post.';
                //$('#alerta').modal('toggle');
                $('#alerta').modal({ show: true })
                event.preventDefault();
            }*/ else if ($('#basic_url_edit').val().trim() != '') {
                if (!isUrlValid($('#basic_url_edit').val().trim())) {
                    document.getElementById('mensajeValidacion').innerHTML = 'URL invalida.';
                    //$('#alerta').modal('toggle');
                    $('#alerta').modal({ show: true })
                    event.preventDefault();
                }
            } else if (inputFile != null) {
                var files = inputFile[0].files;

                for (var i = 0, f; f = files[i]; i++) {
                    if (allowedFileExtensions.indexOf(files[i].type) === -1) {

                        document.getElementById('mensajeValidacion').innerHTML = 'Archivo invalido, archivos permitidos jpg, jpeg, png, gif';
                        //$('#alerta').modal('toggle');
                        $('#alerta').modal({ show: true })
                        event.preventDefault();
                        break;
                    }
                }
            } else {
                $("#FormularioEditarPost").submit();
            }
        });

        function isUrlValid(url) {
            return /^(https?|s?ftp):\/\/(((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:)*@@)?(((\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5])\.(\d|[1-9]\d|1\d\d|2[0-4]\d|25[0-5]))|((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.?)(:\d*)?)(\/((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@@)+(\/(([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@@)*)*)?)?(\?((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@@)|[\uE000-\uF8FF]|\/|\?)*)?(#((([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(%[\da-f]{2})|[!\$&'\(\)\*\+,;=]|:|@@)|\/|\?)*)?$/i.test(url);
        }

        /*Boton validador de editar y eliminar*/
        $('.btn').click(function () {
            var targetTo = $(this).data("target");
            if (targetTo != null) {
                $('#idPostE').val("");
                $('#idPostEd').val("");
                var IdPostEliminar = $(targetTo).attr('idposteliminar');
                if (IdPostEliminar != null) {
                    //alert(IdPost);
                    //$('#idPostE').val(IdPostEliminar);
                    $('#idPostE').val(IdPostEliminar);
                    $('#EliminarPost').modal('toggle');
                }
                var IdPostEditar = $(targetTo).attr('idposteditar');
                if (IdPostEditar != null) {
                    //alert(IdPost);
                    ObtenerPost(IdPostEditar);
                    $('#idPostEd').val(IdPostEditar);
                    $('#EditarPost').modal('toggle');
                }
            }
        });

        $('#btnEliminar').click(function (event) {
            if ($('#idPostE').val().trim() == '') {
                document.getElementById('mensajeValidacion').innerHTML = 'Error No se puede eliminar el Post';
                $('#alerta').modal({ show: true })
                event.preventDefault();
            } else {
                $("#FormularioEliminarPost").submit();
            }
        });

        $('#btnEditar').click(function (event) {
            if ($('#idPostEd').val().trim() == '') {
                document.getElementById('mensajeValidacion').innerHTML = 'Error No se puede Editar el Post';
                $('#alerta').modal({ show: true })
                event.preventDefault();
            } else {
                $("#FormularioEliminarPost").submit();
            }
        });

        var URL = {
            POST_OBTENERPOST: '@Url.Action("ObtenerPost", "Intranet")',
        }

        /*Obtener post ajax para editar*/
        function ObtenerPost(Idpost) {
            if (Idpost == null) {
                document.getElementById('mensajeValidacion').innerHTML = 'Error al btener el Post';
                //$('#alerta').modal('toggle');
                $('#alerta').modal({ show: true })
                event.preventDefault();
                return;
            }

            //limpiar input
            $(".click2edit").summernote('destroy');
            $('#ImagenesSubidas').html('')
            $('#basic_url_edit').val('')
            //borrar referente al editar
            $('#idPostEditar').val('')
            $('#CantidadArchivosCargadosAnterior').val('');
            $('#IdsArchivosBorrar').val('');

            $.ajax({
                method: 'POST',
                url: URL.POST_OBTENERPOST,
                data: { IdPost: Idpost }
            }).done(function (data) {
                console.log(data);
                if (data != null) {
                    $('#idPostEditar').val(data.Id)
                    $('#basic_url_edit').val(data.Url);
                    $('#summernote_edit').val(data.Comentarios);
                    $(".click2edit").summernote({
                        toolbar: [
                            // [groupName, [list of button]]
                            ['style', ['bold', 'italic', 'underline', 'clear']],
                            ['font', ['strikethrough', 'superscript', 'subscript']],
                            ['fontsize', ['fontsize']],
                            ['color', ['color']],
                            ['para', ['ul', 'ol', 'paragraph']],
                            ['height', ['height']]
                        ],
                        height: 150, // set editor height
                        minHeight: null, // set minimum height of editor
                        maxHeight: null, // set maximum height of editor
                        focus: false // set focus to editable area after initializing summernote
                    });
                    if (data.FotosRelacionadas.length > 0) {
                        $('#CantidadArchivosCargadosAnterior').val(data.FotosRelacionadas.length);
                        var Imagenes = '';
                        $.each(data.FotosRelacionadas, function (i, item) {
                            //$('#summernote_edit').val(item.Ruta);
                            //Imagenes += '<div class="col-md-5"><img class="card-img-top img-responsive" src="/Content/tema/img/ImagenesPost/' + item.NombreArchivo + '" style="width: 50%;"></div>';
                            //Imagenes += '&nbsp;&nbsp;<img class="card-img-top img-responsive" src="/Content/tema/img/ImagenesPost/' + item.NombreArchivo + '" style="width: 35%;">';

                            var rutaImagenVisualizar = '@System.Web.Configuration.WebConfigurationManager.AppSettings[System.Web.Configuration.WebConfigurationManager.AppSettings["TipoAmbiente"].ToString() + "RutaArchivosImagenesVisualizar"].ToString()';
                            if (item.ArchivoPortada == true) {
                                Imagenes += '<div class="file-preview-frame krajee-default kv-preview-thumb" style="border-style: solid; border-color: #1976d2;" id=visalizarPreview_' + item.Id + ' data-fileindex="0" data-template="image">';
                                Imagenes += '	<div class="kv-file-content">';
                                Imagenes += '		<img src="' + rutaImagenVisualizar + item.NombreArchivo + '" class="file-preview-image kv-preview-data" title="blogging.jpg" alt="blogging.jpg" style="width:auto;height:auto;max-width:100%;max-height:100%;">';
                                Imagenes += '	</div>';
                                Imagenes += '	<div class="file-thumbnail-footer">';
                                Imagenes += '		<div class="file-footer-caption" title="' + item.NombreMostrar + '">';
                                Imagenes += '			<div class="file-caption-info">' + item.NombreMostrar + '</div>';
                                Imagenes += '		</div>';
                                Imagenes += '		<div class="file-footer-buttons">';
                                Imagenes += '			<button type="button" onClick="javascript: visualziarEditarEliminar(this);"  data-target="#btnEliminarVisualizarEditar_' + item.Id + '" id="#btnEliminarVisualizarEditar_' + item.Id + '" idImagenEliminar="' + item.Id + '" class="kv-file-remove btn btn-sm btn-kv btn-default btn-outline-secondary" title="Eliminar archivo"><svg class="svg-inline--fa fa-trash-alt fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="trash-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 84V56c0-13.3 10.7-24 24-24h112l9.4-18.7c4-8.2 12.3-13.3 21.4-13.3h114.3c9.1 0 17.4 5.1 21.5 13.3L312 32h112c13.3 0 24 10.7 24 24v28c0 6.6-5.4 12-12 12H12C5.4 96 0 90.6 0 84zm416 56v324c0 26.5-21.5 48-48 48H80c-26.5 0-48-21.5-48-48V140c0-6.6 5.4-12 12-12h360c6.6 0 12 5.4 12 12zm-272 68c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208z"></path></svg><!-- <i class="fas fa-trash-alt"></i> --></button>';
                                Imagenes += '           <button type="button" onClick="javascript: visualziarEditarEliminar(this);" data-target="#btnVisualizarEditar_' + item.Id + '" id="#btnVisualizarEditar_' + item.Id + '" rutaimagen="' + rutaImagenVisualizar + item.NombreArchivo + '" class="kv-file-zoom btn btn-sm btn-kv btn-default btn-outline-secondary" title="Ver detalles"><svg class="svg-inline--fa fa-search-plus fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search-plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M304 192v32c0 6.6-5.4 12-12 12h-56v56c0 6.6-5.4 12-12 12h-32c-6.6 0-12-5.4-12-12v-56h-56c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h56v-56c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v56h56c6.6 0 12 5.4 12 12zm201 284.7L476.7 505c-9.4 9.4-24.6 9.4-33.9 0L343 405.3c-4.5-4.5-7-10.6-7-17V372c-35.3 27.6-79.7 44-128 44C93.1 416 0 322.9 0 208S93.1 0 208 0s208 93.1 208 208c0 48.3-16.4 92.7-44 128h16.3c6.4 0 12.5 2.5 17 7l99.7 99.7c9.3 9.4 9.3 24.6 0 34zM344 208c0-75.2-60.8-136-136-136S72 132.8 72 208s60.8 136 136 136 136-60.8 136-136z"></path></svg><!-- <i class="fas fa-search-plus"></i> --></button>';
                                Imagenes += '		</div>';
                                Imagenes += '	</div>';
                                Imagenes += '</div>';
                            } else {
                                Imagenes += '<div class="file-preview-frame krajee-default kv-preview-thumb" id=visalizarPreview_' + item.Id + ' data-fileindex="0" data-template="image">';
                                Imagenes += '	<div class="kv-file-content">';
                                Imagenes += '		<img src="' + rutaImagenVisualizar + item.NombreArchivo + '" class="file-preview-image kv-preview-data" title="blogging.jpg" alt="blogging.jpg" style="width:auto;height:auto;max-width:100%;max-height:100%;">';
                                Imagenes += '	</div>';
                                Imagenes += '	<div class="file-thumbnail-footer">';
                                Imagenes += '		<div class="file-footer-caption" title="' + item.NombreMostrar + '">';
                                Imagenes += '			<div class="file-caption-info">' + item.NombreMostrar + '</div>';
                                Imagenes += '		</div>';
                                Imagenes += '		<div class="file-footer-buttons">';
                                Imagenes += '			<button type="button" onClick="javascript: visualziarEditarEliminar(this);"  data-target="#btnEliminarVisualizarEditar_' + item.Id + '" id="#btnEliminarVisualizarEditar_' + item.Id + '" idImagenEliminar="' + item.Id + '" class="kv-file-remove btn btn-sm btn-kv btn-default btn-outline-secondary" title="Eliminar archivo"><svg class="svg-inline--fa fa-trash-alt fa-w-14" aria-hidden="true" data-prefix="fas" data-icon="trash-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 84V56c0-13.3 10.7-24 24-24h112l9.4-18.7c4-8.2 12.3-13.3 21.4-13.3h114.3c9.1 0 17.4 5.1 21.5 13.3L312 32h112c13.3 0 24 10.7 24 24v28c0 6.6-5.4 12-12 12H12C5.4 96 0 90.6 0 84zm416 56v324c0 26.5-21.5 48-48 48H80c-26.5 0-48-21.5-48-48V140c0-6.6 5.4-12 12-12h360c6.6 0 12 5.4 12 12zm-272 68c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208zm96 0c0-8.8-7.2-16-16-16s-16 7.2-16 16v224c0 8.8 7.2 16 16 16s16-7.2 16-16V208z"></path></svg><!-- <i class="fas fa-trash-alt"></i> --></button>';
                                Imagenes += '           <button type="button" onClick="javascript: visualziarEditarEliminar(this);" data-target="#btnVisualizarEditar_' + item.Id + '" id="#btnVisualizarEditar_' + item.Id + '" rutaimagen="' + rutaImagenVisualizar + item.NombreArchivo + '" class="kv-file-zoom btn btn-sm btn-kv btn-default btn-outline-secondary" title="Ver detalles"><svg class="svg-inline--fa fa-search-plus fa-w-16" aria-hidden="true" data-prefix="fas" data-icon="search-plus" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M304 192v32c0 6.6-5.4 12-12 12h-56v56c0 6.6-5.4 12-12 12h-32c-6.6 0-12-5.4-12-12v-56h-56c-6.6 0-12-5.4-12-12v-32c0-6.6 5.4-12 12-12h56v-56c0-6.6 5.4-12 12-12h32c6.6 0 12 5.4 12 12v56h56c6.6 0 12 5.4 12 12zm201 284.7L476.7 505c-9.4 9.4-24.6 9.4-33.9 0L343 405.3c-4.5-4.5-7-10.6-7-17V372c-35.3 27.6-79.7 44-128 44C93.1 416 0 322.9 0 208S93.1 0 208 0s208 93.1 208 208c0 48.3-16.4 92.7-44 128h16.3c6.4 0 12.5 2.5 17 7l99.7 99.7c9.3 9.4 9.3 24.6 0 34zM344 208c0-75.2-60.8-136-136-136S72 132.8 72 208s60.8 136 136 136 136-60.8 136-136z"></path></svg><!-- <i class="fas fa-search-plus"></i> --></button>';
                                Imagenes += '		</div>';
                                Imagenes += '	</div>';
                                Imagenes += '</div>';
                            }

                        });
                        $('#ImagenesSubidas').append(Imagenes);
                    }
                } else {
                    document.getElementById('mensajeValidacion').innerHTML = 'Problemas al cargar el Post';
                    //$('#alerta').modal('toggle');
                    $('#alerta').modal({ show: true })
                }
            })
            .fail(function (jqXHR, textStatus, errorThrown) {
                //accionSpinner.ErrorConexion();
                /*console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);*/

                document.getElementById('mensajeValidacion').innerHTML = 'Problemas al cargar el Post';
                //$('#alerta').modal('toggle');
                $('#alerta').modal({ show: true })
            })
            .always(function (jqXHR, textStatus, errorThrown) {
                //accionSpinner.Hide('#formulario-prenda-edicion');
                /*console.log(jqXHR);
                console.log(textStatus);
                console.log(errorThrown);*/
            });
        };

        $(function () {
            $('[data-toggle="tooltip"]').tooltip({
                animated: 'fade',
                placement: 'bottom',
                html: true
            })
        })

        /*$(function () {
            $('[data-toggle="popover"]').popover({ html: true })
        })*/

        $(document).ready(function () {
            $('#myTable').DataTable({
                searching: false,
                ordering: false,
                select: false,
                "dom": '<"toolbar">frtip',
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                }
            });
        });

        @if (Model.Intranet.Any())
        {
            foreach (var datos in Model.Intranet)
            {
                if (datos.Posts.Any())
                {
                    foreach (var datos0 in datos.Posts)
                    {
                        <text>
                        $('#@("containerMore" + datos.Id)').showmore({
                            closedHeight: 160,
                            buttonTextMore: 'Leer mas ...',
                            buttonTextLess: 'leer menos',
                            buttonCssClass: 'showmore-button',
                            animationSpeed: 0.5
                        });
                        </text>
                    }
                }
            }
        }

        @{
            if (Model != null)
            {
                if (Model.error.CodigoError == -1)
                {
                    <text>
                    document.getElementById('mensajeValidacion').innerHTML = '@Model.error.DescripcionError';
                    $('#alerta').modal('toggle');
                    </text>
                }
            }
        }
    });

    function padLeft(nr, n, str) {
        return Array(n - String(nr).length + 1).join(str || '0') + nr;
    }

    function reloj() {
        var clock = $("#liveclock");
        if (clock == null)
            return;

        var Digital = new Date()
        var day = Digital.getDate()
        var Month = Digital.getMonth() + 1
        var year = Digital.getFullYear()
        var hours = Digital.getHours()
        var minutes = Digital.getMinutes()
        var seconds = Digital.getSeconds()

        var dn = "PM"
        if (hours < 12)
            dn = "AM"
        if (hours > 12)
            hours = hours - 12
        if (hours == 0)
            hours = 12

        if (minutes <= 9)
            minutes = "0" + minutes
        if (seconds <= 9)
            seconds = "0" + seconds
        //change font size here to your desire
        myclock = "<font size='5' face='Arial' class='text-white' ><b><font size='5'>" + padLeft(day, 2) + "/" + padLeft(Month, 2) + "/" + year + "</font></br><font size='3'>" + hours + ":" + minutes + ":" + seconds + " " + dn + "</font></b></font>"
        $("#liveclock").html(myclock)

        setTimeout("reloj()", 1000)
    }

    window.onload = reloj

    /*Boton visualizador editar y eliminar*/
    function visualziarEditarEliminar(obj) {
        $('#visualizarImagenEditar').attr("src", '');
        var ruta = $(obj).attr('rutaimagen');
        if (ruta != null) {
            $('#visualizarImagenEditar').attr("src", ruta);
            $('#VisualizarEditar').modal('toggle');
        }
        var IdArchivo = $(obj).attr('idImagenEliminar');
        if (IdArchivo != null) {
            var IdsArchivosBorrar = $('#IdsArchivosBorrar').val();
            IdsArchivosBorrar += IdArchivo + ",";
            $('#IdsArchivosBorrar').val(IdsArchivosBorrar);

            var idDiv = '#visalizarPreview_' + IdArchivo;
            $(idDiv).remove();

            /*var CantidadArchivosCargadosAnterior = $('#CantidadArchivosCargadosAnterior').val();
            if (CantidadArchivosCargadosAnterior != null) {
                if (CantidadArchivosCargadosAnterior >= 0) {
                    CantidadArchivosCargadosAnterior = CantidadArchivosCargadosAnterior - 1;
                    $('#CantidadArchivosCargadosAnterior').val(CantidadArchivosCargadosAnterior);

                    var IdsArchivosBorrar = '';
                    IdsArchivosBorrar += IdArchivo + ",";
                    $('#IdsArchivosBorrar').val(IdsArchivosBorrar);

                    var idDiv = '#visalizarPreview_' + IdArchivo;
                    $(idDiv).remove();
                } else {
                    document.getElementById('mensajeValidacion').innerHTML = 'Problemas al eliminar la foto';
                    $('#alerta').modal({ show: true })
                }
            } else {
                document.getElementById('mensajeValidacion').innerHTML = 'Problemas al eliminar la foto';
                $('#alerta').modal({ show: true })
            }*/
        }
    }
</script>