﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Intranet </title>
    <!--Input de fotos-->
    <script src="~/Content/tema/assets/plugins/bootstrap/js/popper.js"></script>
    <link href="~/Content/tema/assets/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/tema/assets/plugins/fileinput/css/fileinput.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" crossorigin="anonymous">
    <script src="~/Content/tema/assets/plugins/jquery/jquery.js"></script>
    <script src="~/Content/tema/assets/plugins/bootstrap/js/bootstrap.bundle.js"></script>
    <script src="~/Content/tema/assets/plugins/fileinput/js/plugins/sortable.js"></script>
    <script src="~/Content/tema/assets/plugins/fileinput/js/fileinput.js"></script>
    <script src="~/Content/tema/assets/plugins/fileinput/js/locales/es.js"></script>
    <script src="~/Content/tema/assets/plugins/fileinput/themes/fas/theme.js"></script>
    <script src="~/Content/tema/assets/plugins/fileinput/themes/explorer-fas/theme.js"></script>
    <!--tema web-->
    <link href="~/Content/tema/css/style.css" rel="stylesheet" />
    <link href="~/Content/tema/css/colors/blue-dark.css" id="theme" rel="stylesheet" />
    <!--Input de comentarios-->
    <link href="~/Content/tema/assets/plugins/summernote/dist/summernote.css" rel="stylesheet" />
    <script src="~/Content/tema/assets/plugins/summernote/dist/summernote.min.js"></script>
    <!--tema web-->
    <link href="~/Content/tema/css/style.css" rel="stylesheet" />
    <link href="~/Content/tema/css/colors/blue-dark.css" id="theme" rel="stylesheet" />
    <!--Imagenes-->
    <link href="~/Content/tema/assets/plugins/viewbox-master/viewbox.css" rel="stylesheet" />
    <script src="~/Content/tema/assets/plugins/viewbox-master/jquery.viewbox.js"></script>
    <!--redmore-->
    <script src="~/Content/tema/assets/plugins/readmore/js/jquery.showmore.js"></script>
    <!--iconos-->
    <link href="~/Content/tema/assets/plugins/fontawesome/css/all.css" rel="stylesheet" />
    <script src="~/Content/tema/assets/plugins/fontawesome/js/all.js"></script>
    <!--datatables-->
    <script src="~/Content/tema/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <style>
        html, body {
            /*background-image: url("../Content/tema/img/Otro/background.jpg");
              background-repeat: repeat;
              background-color: #cccccc;*/
            /*opacity: 0.5;*/
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
        .outside {
            /*padding: 10px 10px 0 10px;*/
            /*margin: 30px;*/
            position: relative;
        }
        .inside {
            border: 0;
            padding: 10px 0;
            transform: translateY(35px);
        }
        .tooltip-bottom .tooltip-inner{
            background-color: transparent !important;
        }
    </style>
    <!--
    <style>
        .containerMore {
            margin: 150px auto;
            max-width: 640px;
            line-height: 1.8;
        }

        .boxMore {
            padding: 1em;
            border-radius: 3px;
            font-family: 'Quicksand';
        }
        .morecontent span {
            display: none;
        }

        .morelink {
            display: block;
        }
    </style>
    -->
</head>
<body class="fix-header card-no-border">
    @Html.Partial("_Navbar")
    <div class="container-fluid">
        @RenderBody()
    </div>
    @RenderSection("scripts", false)
</body>
</html>
